/***********************************************/
/* emx_nav_left.css                            */
/* Use with template Halo_leftNav.html         */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/************** header tag styles **************/

h1 {
  font: bold 120% Arial, sans-serif;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

h2 {
  font: bold 114% Arial, sans-serif;
  color: #006699;
  margin: 0px;
  padding: 0px;
}

h3 {
  font: bold 100% Arial, sans-serif;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

h4 {
  font: 100% Arial, sans-serif;
  color: #333333;
  margin: 0px;
  padding: 0px;
}

h5 {
  font: 100% Arial, sans-serif;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

/*************** list tag styles ***************/

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: none;
}

/********* form and related tag styles *********/

form {
  margin: 0;
  padding: 0;
}

label {
  font: bold 1em Arial, sans-serif;
  color: #334d55;
}

input {
  font-family: Arial, sans-serif;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#pagecell1 {
  position: absolute;
  top: 92px;
  left: 0;
  right: 2%;
  width: 1000;
}

#tl {
  position: absolute;
  top: -1px;
  left: -1px;
  margin: 0px;
  padding: 0px;
  z-index: 100;
}

#tr {
  position: absolute;
  top: -1px;
  right: -1px;
  margin: 0px;
  padding: 0px;
  z-index: 100;
}

#masthead {
  position: absolute;
  top: 0px;
  left: 2%;
  right: 2%;
  width: 95.6%;
}

#content {
  padding: 0px 10px 0px 0px;
  margin: 0px 0px 0px 178px;
  border-left: 1px solid #ccd2d2;
}

/***********************************************/
/* Component Divs                              */
/***********************************************/
#siteName {
  margin: 0px;
  padding: 16px 0px 8px 0px;
  color: #ffffff;
  font-weight: normal;
}

/************** utility styles *****************/

#utility {
  font: 75% Verdana, sans-serif;
  position: absolute;
  top: 16px;
  right: 0px;
  color: #919999;
}

#utility a {
  color: #ffffff;
}

#utility a:hover {
  text-decoration: underline;
}

/************** pageName styles ****************/

#pageName {
  padding: 0px 0px 10px 10px;
  margin: 0px;
  border-bottom: 1px solid #ccd2d2;
}

#pageName h2 {
  font: bold 175% Arial, sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

#pageName img {
  position: absolute;
  top: 0px;
  right: 6px;
  padding: 0px;
  margin: 0px;
}

/************* globalNav styles ****************/

#gnl {
  position: absolute;
  top: 0px;
  left: 0px;
}

#gnr {
  position: absolute;
  top: 0px;
  right: 0px;
}

.content__list {
  padding: 0px;
  margin: 5px;
  margin-left: -5px;
  visibility: visible;
}

.content__libr {
  padding: 0px;
  margin: 0px;
  visibility: visible;
}

.skipLinks {
  display: none;
}

/*************** search styles *****************/

#search {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 101;
}

#search input {
  font-size: 70%;
  margin: 0px 0px 0px 10px;
}

#search a:link,
#search a:visited {
  font-size: 80%;
  font-weight: bold;
}

#search a:hover {
  margin: 0px;
}

/************* breadCrumb styles ***************/

#breadCrumb {
  padding: 5px 0px 5px 10px;
  font: small Verdana, sans-serif;
  color: #aaaaaa;
}

#breadCrumb a {
  color: #aaaaaa;
}

#breadCrumb a:hover {
  color: #005fa9;
  text-decoration: underline;
}

/************** feature styles *****************/

.feature {
  padding: 0px 0px 10px 10px;
  font-size: 80%;
  min-height: 200px;
  height: 200px;
}

html>body .feature {
  height: auto;
}

.feature h3 {
  font: bold 175% Arial, sans-serif;
  color: #000000;
  padding: 30px 0px 5px 0px;
}

.feature img {
  float: left;
  padding: 0px 10px 0px 0px;
}

/*************** story styles ******************/

.story {
  padding: 10px 0px 0px 10px;
  font-size: 80%;
}

.story h3 {
  font: bold 125% Arial, sans-serif;
  color: #000000;
}

.story p {
  padding: 0px 0px 10px 0px;
}

.story a.capsule {
  font: bold 1em Arial, sans-serif;
  color: #005fa9;
  display: block;
  padding-bottom: 5px;
}

.story a.capsule:hover {
  text-decoration: underline;
}

td.storyLeft {
  padding-right: 12px;
}

/************** siteInfo styles ****************/

#siteInfo {
  clear: both;
  border-top: 1px solid #cccccc;
  font-size: small;
  color: #cccccc;
  padding: 10px 10px 10px 10px;
  margin-top: -1px;
}

#siteInfo img {
  padding: 4px 4px 4px 0px;
  vertical-align: middle;
}

/************ sectionLinks styles **************/

#sectionLinks {
  margin: 0px;
  padding: 0px;
}

#sectionLinks h3 {
  padding: 10px 0px 2px 10px;
  border-bottom: 1px solid #cccccc;
}

#sectionLinks a:link,
#sectionLinks a:visited {
  display: block;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #cccccc;
  background-image: url('bg_nav.jpg');
  font-weight: bold;
  padding: 3px 0px 3px 10px;
  color: #21536a;
}

#sectionLinks a:hover {
  border-top: 1px solid #cccccc;
  background-color: #ddeeff;
  background-image: none;
  font-weight: bold;
  text-decoration: none;
}

/**************** advert styles *****************/

#advert {
  padding: 10px;
}

#advert img {
  display: block;
}

/********************* end **********************/

/* my work */



.frame-top {
  border-bottom: 2px solid grey;
}

.frame-left {
  border-right: 2px solid grey;
  border-bottom: 1px solid grey;
}

.frame-right {
  border-bottom: 1px solid grey;
  border-right: 2px solid grey;
  padding: 8px;
}

.intro-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* date */
.content__title {
  margin-bottom: 10px;
}

.content__display {
  display: flex;
  flex-direction: column;
}

.content__date {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #005fa9;
}

.content__time {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #005fa9;
}

.content__temper-ed {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: red;
}

.content__temper-value {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: red;
}

.content__temper-naim {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: black;
}



.logo {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.logo__text {
  color: #c0c0c0;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(0, 0, 0, 0.5),
    6px -6px 15px rgba(255, 255, 255, 0.8);
}

.logo__content {
  position: relative;
  display: flex;
  align-items: center;
}

.logo__img {
  width: 150px;
  margin-right: 10px;
}

.logo__gif {
  position: absolute;
  top: -4px;
  left: 9%;
  z-index: 1;
}

.logo__gif-img {
  width: 31px;
  height: 31px;
}

.content {
  width: 70%;
  opacity: 0;
  transform: translateX(-1500px);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  margin-left: 190px;
}

.content.active {
  opacity: 1;
  transform: translateX(0);
}

.content-nav {
  position: relative;
}

.content-nav__intro {
  margin: 0;
  display: none;
  list-style-type: none;
  padding-left: 0;
}

.content-nav__intro.active {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 15px;
}

.content-nav__link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: green;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
  opacity: 1;
}

.content-nav__link:hover {
  opacity: 0.5;
}

.content-nav__link:active {
  opacity: 0.5;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 5px;
  margin-bottom: 15px;
}

.content__list-link {
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 1;
}

.content__list-link.active {
  color: white;
  background-color: green;
}

.content__list-link:hover {
  color: white;
  background-color: green;
}

.content__list-link:active {
  color: white;
  background-color: green;
}

.page-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

.page-sidebar__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: black;
}

.page-sidebar__box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.page-sidebar__span {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  color: rgb(100, 99, 99);
  font-weight: 500;
}

.page-sidebar__link {
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 14px;
  color: green;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.page-sidebar__link:hover,
.page-sidebar__link:active {
  color: rgb(20, 83, 20);
  border-bottom: 1px solid rgb(20, 83, 20);
}

.page-sidebar__link:focus {
  color: rgb(20, 83, 20);
  border-bottom: 1px solid rgb(20, 83, 20);
  outline: none;
}

.calendar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.table-header,
.page-sidebar__box-header {
  margin-bottom: 10px;
  text-align: start;
  font-size: 18px;
  line-height: 18px;
  color: black;
  font-weight: 600;
}

.page-sidebar__link-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.page-sidebar__logo {
  font-weight: 600;
  color: black;
}

.tbSelDate,
.tbSelYear,
.tbSelMonth {
  height: 30px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.tbSelDate {
  width: 50px;
}

.tbSelMonth {
  width: 105px;
}

.tbSelYear {
  width: 60px;
}

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #dfdcdc;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: green;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
}


.aside {
  height: 89vh;
  border: 1px solid #ccc;
}

.aside__frame {
  width: 250px;
  height: 100%;
}



.content__intro {
  display: flex;
  justify-content: space-between;
}

.content__intro.active {
  transform: translateY(-1100px);
  opacity: 0;
}

.content__frame {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
}



.elka {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: -1;
}

.main__btn-container.active {
  transform: translateY(-1100px);
}

.main__btn-tech {
  text-decoration: none;
  position: absolute;
  outline: none;
  display: flex;
  width: auto;
  height: auto;
  cursor: pointer;
  line-height: 45px;
  border-radius: 10px;
  margin: 10px 10px;
  font-size: 24px;
  font-weight: 700;
  color: #524f4e;
  background: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: .3s;
  z-index: 1;
  left: 675px;
  top: 30px;
}

.main__btn-tech:hover {
  background: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.main__btn-tech.active {
  color: white;
  background-color: green;
  transform: translateY(-1100px);
}

.main__btn-back {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 0px;
  font-weight: 700;
  color: black;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  transition: .3s;
  top: 20px;
  right: 20px;
  bottom: 35px;
  z-index: 1;
}

.main__btn-back:hover {
  background: green;
  color: white;
}

.main__btn-back.active {
  color: white;
  background-color: green;
}

.main__btn-libr {
  text-decoration: none;
  position: absolute;
  outline: none;
  display: flex;
  width: auto;
  height: auto;
  cursor: pointer;
  line-height: 45px;
  border-radius: 10px;
  margin: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: #524f4e;
  background: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: .3s;
  z-index: 1;
  left: 965px;
  top: 30px;
}

.main__btn-libr:hover {
  background: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.main__btn-libr.active {
  color: white;
  background-color: green;
  transform: translateY(-1100px);
}

.main__name-container {
  background-color: green;
  position:absolute;
  border-radius: 5px;
  top: 30px;
  left: 70px;
  text-align:center;
  z-index: 1;
}

.main__name {
  text-decoration: none;
  outline: none;
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 24px;
}

.library {
  position: absolute;
  width: 70%;
  opacity: 1;
  transform: translateX(-1100px);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  margin-left: 270px;
  top:50px;
}

.library.active {
  opacity: 1;
  transform: translateX(0px);
}

.content__libr {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  margin-bottom: 15px;
  transform: translateX(-1100px);
  opacity: 1;
}

.content__libr.active {
  opacity: 1;
  transform: translateX(0px);
}

.content__libr-link {
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 1;
}

.content__libr-link.active {
  color: white;
  background-color: green;
}

.content__libr-link:hover {
  color: white;
  background-color: green;
}

.content__libr-link:active {
  color: white;
  background-color: green;
}


@media (max-width: 1280px) {
  .main__btn-container {
    position: relative;
    top: -5px;
    left: -30%;
    z-index: 1;
  }

  .main__btn-back {
    margin-bottom: 3%;
    right:10px;
    top:30px;
  }

  .main__name-container {
    left: 6%;
  }
}
